<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-sm-12 mx-auto d-block">
    <%= image_tag "memorial_wall/memorial-remember.png", class: "img-fluid mx-auto d-block" %>
  </div>
  <div class="container-fluid">
      <center><h5>SPC Christopher Hanson</h5></center>
      <%= image_tag "memorial_wall/memorial-hanson1.jpg", class: "img-fluid mx-auto d-block"%>
      <center>
      <p>Christopher "Fergi" Hanson died on April 29, 2015 surrounded by family and friends after a courageously fought battle with brain cancer. Christopher, age 31, was a loving friend, brother, son, and uncle who enjoyed traveling, fishing and spending time up north.</p>
      <%= image_tag "memorial_wall/memorial-hanson2.jpg", class: "img-fluid mx-auto d-block"%>
      <p>A graduate of Highland High School, in St. Paul, Christopher always found time for friends. A veteran of the U.S. Army, he served as a Paratrooper in the 18th Airborne Corps in Operation Iraqi Feedom. After completeing 13 jumps and serving his country in combat, he was Honorably discharged form the military. After leaving the military, Christopher worked as a gemologist for Sterling Jewelers. With an eye for jewelry design, he comissioned the creation of several rings that will remain cherrished memories of his life and creativity.</p>
      <p>When diagnosed with brain cancer in 2008, he remained dedicated. Despite enduring three surgeries, and an array of cancer treatments, he never lost his will to fight his illness. In 2014, the Veteran's Airlift Command, in coordination with Hubbard Broadcasting, arranged a trip for Christopher to travel to Malibu, CA where he participated in a retreat sponsored by Save a Warrior with other veterans. That experience helped renew his fight against this disease. Christopher remained brave to the end, traveling to Mexico with his family in his last month of life, and even landing his first sailfish.</p>
      <p>Christopher is survived by his mother Tammy and father Mark (Kathy), brothers Eric (Emily) and Martin (Danielle), and grandmother Darlene; niece Lexi and nephew Damon, as well as many uncles and cousins. He is preceded in death by grandparents Richard and Betty Hanson and John Groess.</p>
      <p>The family would especially like to thank all of the loving Doctors and Nurses at VA and U of M hospitals, for their excellent work and loving care. Memorials preferred to Veterans Airlift Command or Save A Warrior Project.</p>
      </center>
  </div>
  </div>
</div>

<center>
<%= link_to 'Back to the Memorial Wall', memorial_wall_path %>
</center>

<div class="col-lg-6 col-sm-12 mx-auto d-block">
  <%= image_tag "memorial_wall/memorial-remember.png", class: "img-fluid mx-auto d-block" %>
</div>