<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-sm-12 mx-auto d-block">
    <%= image_tag "memorial_wall/memorial-remember.png", class: "img-fluid mx-auto d-block" %>
  </div>
  <div class="container-fluid">
      <center><h5>George W. "Butch" Leyda</h5></center>
      <%= image_tag "memorial_wall/memorial-leyda.jpg", class: "img-fluid mx-auto d-block"%>
      <center>
      <p>George W. "Butch" Leyda, most recently of Grant, Minnesota, died on Tuesday, May 23, 2017. He was preceded in death by his parents and 7 siblings. George is survived by his wife of 55 years, Betty Jo (Burton); children, Kim Leyda of St. Paul, George (and Jody) Leyda, Jr. of Hudson, WI, and Beth (and Jay) Hansen of Eden Prairie; grandchildren, Kelsey Brooks, Savannah Leyda, Carter Hansen, August Leyda, Lars Hansen, and Gretchen Hansen; brother Art Leyda of CA. George grew up in Blasdell, NY, graduated from UCLA, retired from 3M Co. as a manager in the Printing Proofing Systems group.</p>
      <p>George was the youngest of 9 children, including 4 brothers. Four of the Leyda boys, including George, were Army Veterans and George's oldest brother was a Colonel in the Air Force. In 1958 George began his Army service as a linguist, entering the Army language school in Monterey, California, where he became fluent in Russian. He was stationed in Germany during his first length of service, then recalled and was stationed in Washington, DC, until his second discharge in 1962. Throughout his life George was tremendously proud to be an Army Veteran.</p>
      <p>George was passionate about the printing industry and the study of color and light. Directly out of high school he attended Pressman's Home Printing School near Rogersville, Tennessee, which was one of the most prestigious printing schools in the Unitest States at that time. After George's Army service, he enrolled in UCLA as a physics major. Upon graduation, he was offered a job in Minnesota working for 3M in their printing technology division, which was a perfect combination of his physics degree and his technical background as a printer. As only the second physicist to join 3M's printing lab, he played an integral part in the industry's transition from an art to a science, including the development of color quality control standards applicable to large commercial printers. George was a featured speaker at many professional conferences. After his retirement from 3M in 2003, George continued consulting with his company ColorInfo Technology, held a reasonable speaking engagement schedule, and hosted annual seminars with his "brain trust" group of industry professionals. Throughout George's career he and Betty Jo made many dear friends and travelled to every corner of the United States together, creating many fond memories.</p>
      <p>George had a genuine love of people and was open and accepting of everyone. He was honest about his opinions, open to discussing all topics, and very respectful of others. George loved his kids and took pride in everything they did. He considered his grandchildren to be his finest accomplishments. George had an adventurous spirit and he always put friends and family first.</p>
      </center>
      <%= image_tag "memorial_wall/memorial-leyda2.jpg", class: "img-fluid mx-auto d-block"%>
  </div>
  </div>
</div>

<center>
<%= link_to 'Back to the Memorial Wall', memorial_wall_path %>
</center>

<div class="col-lg-6 col-sm-12 mx-auto d-block">
  <%= image_tag "memorial_wall/memorial-remember.png", class: "img-fluid mx-auto d-block" %>
</div>