<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-sm-12 mx-auto d-block">
    <%= image_tag "memorial_wall/memorial-remember.png", class: "img-fluid mx-auto d-block" %>
  </div>
  <div class="container-fluid">
      <center><h5>Thomas F. "Pittsy" Pitts</h5></center>
      <%= image_tag "memorial_wall/memorial-Pitts.jpg", class: "img-fluid mx-auto d-block"%>
      <center>
      <p>Age 65, of Wilmington, DE, died on July 12 in a tragic airplane accident. Tom passed away doing what he loved – flying his Cirrus SR20 and helping another human being in need. He was a true hero who lived life to its fullest.</p>
      <p>Tom was a United States Marine Corps veteran who proudly served his country. He was an active member of the Delaware Veterans Post #1 and was serving as the President of their Executive Board. He worked tirelessly on many military and veterans causes, including being Chairman of the annual Toys for Tots 5K Run/Walk in Delaware, the annual Memorial Day ceremony, the Wounded Warriors, Veterans Airlift Command and a liaison to the Gold Star Families. He was also an active volunteer for Autism Delaware.</p>
      <p>Tom retired from Xerox Corporation as a Field Service Manager in 1999. Previously he worked for Westinghouse Electric as an Electrician and Chief Shop Steward. He also worked as a hard hat commercial scuba diver. Tom always looked forward to his and Deb’s annual vacation to the Caribbean island of Anguilla.</p>
      <p>Tom was predeceased by his father, Thomas S. Pitts. He is survived by his mother, Anna (Smith) Pitts, his wife, Deborah A. Markwood, his sons, Thomas C. Pitts and Patrick S. Pitts (Michelle), his sister, Nancy McCallum (David), his brother, John Pitts, his two grandchildren, Sean and Jack Pitts, and many nieces and nephews. Tom also had countless friends, all of whom he cherished.</p>
      <p>His laughter, his smile and his willingness to put others above himself will be deeply missed. He was one of a kind.</p>
      <p>VAC would like to recognize and thank Deb Markwood, members of COPA, and Lightspeed Aviation for their support and monetary donations received in memory of Tom.</p>
      </center>
      <%= image_tag "memorial_wall/memorial-Pitts2.jpg", class: "img-fluid mx-auto d-block"%>
  </div>
  </div>
</div>

<center>
<%= link_to 'Back to the Memorial Wall', memorial_wall_path %>
</center>

<div class="col-lg-6 col-sm-12 mx-auto d-block">
  <%= image_tag "memorial_wall/memorial-remember.png", class: "img-fluid mx-auto d-block" %>
</div>