<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-sm-12 mx-auto d-block">
    <%= image_tag "memorial_wall/memorial-remember.png", class: "img-fluid mx-auto d-block" %>
  </div>
  <div class="container-fluid">
      <center><h5>COL Richard "Dick" Iversen, USAF (Ret)</h5></center>
      <%= image_tag "memorial_wall/memorial-iversen.jpg", class: "img-fluid mx-auto d-block"%>
      <center>
      <p>Dick was born December 14, 1943 in Anacortes, WA where he spent his childhood enjoying one adventure after another with his best friend, Jim Williamson. He graduated from Central Washington University with honors and following his passion, took a commission in the U. S. Air Force completing his pilot training. Dick held Master Degrees in Business Administration and International Relations. He was a proud graduate of the Air War College, Army War College and the prestigious Naval War College.</p>
      <p>During his military career Dick flew over 10 different types of military aircraft (T-41,T-37, T-38, T-39, KC-135, F-4D, B-52, AC-119K, FB-111 & B-1B); was Commanding Officer of the 528th Bomb Squadron (FB-111's) his favorite assignment, and served at various headquarters staff, executive and command positions. He was Director of the $20.5 billion dollar B-1B Lancer Program and ended his 20-year AF career as Vice Wing Commander of the 28th Bomb Wing, the largest B-1B nuclear capable base in the Air Force. During two tours of duty in Viet Nam, Dick flew over 350 combat missions in an AC-119 gunship and received numerous awards and decorations including the Legion of Merit, Distinguished Flying Cross, 13 Air Medals, Meritorious Service Medal, Vietnam Cross of Gallantry and the Presidential Unit Citation. He retired from military service as a full Colonel at 20 1/2 years, six years "below the zone" and is listed in Who's Who in America. In retirement Dick worked for Boeing as Director of Bomber Programs for their Military Defense and Space Group and the past 10 years as consultant on the Boeing/Air Force program to re-engine B-52 bombers.</p>
      <p>Most recently Dick was active with great friends and accomplished aviators, Captain Jeff Hendricks, Tim Lewis, Mike Freeman and Dr. Kevin Ware, flying Jeff Hendricks' Learjet 40XR (coined as JEFFAIR) transporting wounded soldiers and their families for medical or compassionate reasons all over America. The military does not provide such transportation for its veterans and families. In the past 4.5 years, JEFFAIR flew 62 missions for over 160,000 miles and served nearly 200 soldiers and their families as volunteers for the Veterans Airlift Command (VAC) organization. The Colonel flew every mission; he was not only a command pilot, but as flight coordinator, he would communicate with the veterans and families before and after each flight. Dick's wife Jan prepared special order inflight meals for crew and passengers to ease their journey. The Colonel sat with the soldiers to hear their incredible stories of courage and recovery. The Iversen's provided short retreats for several veterans in their Guemes Island guest house by the beach.</p>
      <p>In 2016, The Colonel was awarded the prestigious Endeavor Award, a worldwide honor and recognition of charitable works by pilots and aviation volunteers. Each year awardees are selected from nearly 150 volunteer pilot organizations worldwide. More recently Dick was an active member of the committee to create our wonderful Veterans Memorial Plaza at Rice Field. The plaza will be a durable memorial that pays tribute to the patriotic and courageous men and women who have served and are serving our country. He was a proud member of Quiet Birdmen and instrumental in creating the Anacortes hangar. Dick will be buried at Arlington National Cemetery with full military honors. He was a devout Christian who loved his wife and family, soldiers, aviators, God and country.</p>
      <p>He is survived by his wife Jan (on the Board of Commissioners at Island Hospital), daughters Marjie (Todd) Jackson, and Cindy (Stephen) Hoffert; brothers Scott (KK) Iversen, Rand (Diana) Iversen, sister Jane (Jim Fors) Nelson; grandchildren Cole, Kayla, Andrew, Brooklyn, Paige and Emily. Plus numerous nieces and nephews who he adored, especially Katie and Kristy who loved to comb and mess up his perfect hair. Our beloved soldier has gone west.</p>
      </center>
      <%= image_tag "memorial_wall/memorial-iversen2.jpg", class: "img-fluid mx-auto d-block"%>
  </div>
  </div>
</div>

<center>
<%= link_to 'Back to the Memorial Wall', memorial_wall_path %>
</center>

<div class="col-lg-6 col-sm-12 mx-auto d-block">
  <%= image_tag "memorial_wall/memorial-remember.png", class: "img-fluid mx-auto d-block" %>
</div>