<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-sm-12 mx-auto d-block">
    <%= image_tag "memorial_wall/memorial-remember.png", class: "img-fluid mx-auto d-block" %>
  </div>
  <div class="container-fluid">
      <center><h5>Jim Petosa</h5></center>
      <%= image_tag "memorial_wall/memorial-petosa.jpg", class: "img-fluid mx-auto d-block"%>
      <center>
      <p>James R. Petosa, 49, of Baldwinsville, passed away Tuesday October 11th at home following a courageous battle with esophageal cancer. He was a 1980 graduate of Solvay High School, served in the US Navy from 1980-85 and received his BS Degree in Aeronautical Science in 1988 from Embry Riddle University. He was the Flight Department Manager and a Pilot for Carrington Capital Management. James was a communicant of St. Augustine's Church where he was a Eucharistic Minister and member of its men's group. He was also a member of the National Business Aircraft Association and past member of the Solvay Fire Department. James was predeceased by his father, Robert in 1991. Jim's greatest loves were his wife, family, friends and his aviation career. His spirituality, as well as his love, caring and generosity towards others made him a role model, admired by so many. Jim was an avid supporter of the work of the Veterans Airlift Command, utilizing his skill as an aviator but more importantly, his quiet caring demeanor to welcome aboard combat wounded warriors in order to deliver them to their destination with grace and class.  </p>
      <p>He is survived by his wife and soul mate, the former Christine Frank, his mother; Joanna, of Solvay, 3 sisters; Marianne (Mark) Hatch, Roberta (Rodney) Goodrich and Theresa Petosa, all of Solvay, a brother; Paul (Leslie), of Atlanta, GA, his mother-in-law; Wanda Frank, of Delanson, a sister-in-law; Kathy (Frank Horn) Mackey, of Sharon Springs, a brother-in-law; William (Martha) Frank, of Delanson, and many aunts, uncles, nieces, nephews and cousins. </p>
      </center>
      <%= image_tag "memorial_wall/petosa-flyer.jpg", class: "img-fluid mx-auto d-block"%>
  </div>
  </div>
</div>

<center>
<%= link_to 'Back to the Memorial Wall', memorial_wall_path %>
</center>

<div class="col-lg-6 col-sm-12 mx-auto d-block">
  <%= image_tag "memorial_wall/memorial-remember.png", class: "img-fluid mx-auto d-block" %>
</div>