<h1 class="fontColor1 bowlby">SEND EMAIL</h1>
<div class="row">
  <div class="col-12 mx-auto d-block">
    <%= form_tag(admin_send_email_path, method: "post") do %>
      <%= label_tag(:to, "To") %>
      <%= text_field_tag(:to) %>
      <br>
      <%= label_tag(:subject, "Subject") %>
      <%= text_field_tag(:subject) %>
      <br>
      <%= label_tag(:body, "Body") %>
      <%= text_area_tag(:body) %>
      <br>
      <%= submit_tag("Send") %>
    <% end %>
  </div>
</div>