<h1 class="fontColor1 bowlby">ADMIN - USERS</h1>
<div class="row">
  <div class="col-12">
    <%= render "flasherrors" %>

    <p>Showing <%= [@limit, @users.size].min %> out of <%= @users.size %> results.</p>
    <p>There are a total of <%= @num_pages %> pages.</p>
    

    <%= form_tag(admin_users_path, :method => "get", id: "filter-form") do %>
    <%= check_box_tag(:filter_admin) %>
    <%= label_tag(:filter_admin_1, "Admin") %>
    <%= check_box_tag(:filter_pilot) %>
    <%= label_tag(:filter_pilot_1, "Pilot") %>
    <%= check_box_tag(:filter_veteran) %>
    <%= label_tag(:filter_veteran_1, "Veteran") %>
    <%= check_box_tag(:filter_donor) %>
    <%= label_tag(:filter_donor_1, "Donor") %>
    <%= submit_tag "Filter", :name => nil %>
    <% end %>
    
    
    
    <%= form_tag(admin_users_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
    
    <%= radio_button_tag(:search_attr, "firstname") %>
    <%= label_tag(:search_attr_firstname, "First Name") %>
    <%= radio_button_tag(:search_attr, "lastname") %>
    <%= label_tag(:search_attr_lastname, "Last Name") %>
    <%= radio_button_tag(:search_attr, "email") %>
    <%= label_tag(:search_attr_email, "Email") %>
    
    <%= submit_tag "Search", :name => nil %>
    <% end %>
    
    <% if @users.blank? %>
    <h4>There are no Users with the selected attribute containing the term <%= params[:search] %>.</h4>
    <% end %>
    
    
    
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th></th>
          <th><%= link_to "First Name", admin_users_path(page: 1, sortby: :firstname) %></th>
          <th><%= link_to "Last Name", admin_users_path(page: 1, sortby: :lastname) %></th>
          <th><%= link_to "E-mail", admin_users_path(page: 1, sortby: :email) %></th>
          <th><%= link_to "User Since", admin_users_path(page: 1, sortby: :created_at) %></th>
          <th><%= link_to "Last updated", admin_users_path(page: 1, sortby: :updated_at) %></th>
          <th>Admin Status</th>
          <th>Pilot Status</th>
          <th>Veteran Status</th>
          <th>Donor Status</th>
          
          <th></th>
        </tr>
        <% @users.each do |u|  %>
        <tr>
          <td><%= @i %></td>
          <td><%= u.firstname  %></td>
          <td><%= u.lastname %></td>
          <td><%= u.email %></td>
          <td><%= u.created_at.strftime("%-m/%-d/%y") %></td>
          <td><%= u.updated_at.strftime("%-m/%-d/%y") %></td>
          <td><%= u.admin %></td>
          <td><%= u.pilot %></td>
          <td><%= u.veteran %></td>
          <td><%= u.donor %></td>
          <td><%= link_to "Delete", delete_user_path(u.id), method: :delete, data: { confirm: 
            'Are you sure you want to delete ' + u.firstname + " " + u.lastname + "?" 
          } %></td>
        </tr>
        <% @i = @i + 1 %>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col-12 text-center">
    <%= (link_to '<', admin_users_path(page: (@page - 1))) unless @page - 1 < 1 %>
    <% for p in 1..(@num_pages)  %>
      <%= if @page != p then link_to p, admin_users_path(page: p) else p end %>
    <% end %>
    <%= (link_to '>', admin_users_path(page: (@page + 1))) unless @page + 1 > @num_pages %>
  </div>
</div>