<h1 class="bowlby fontColor1">OUR ADVISORY BOARD</h1>
<div class="row">
  <div class="col-lg-2 col-md-3">
		<%= image_tag "advisory_board/BobDole.jpg", class: "img-fluid mx-auto d-block" %>
	</div>
	<div class="col-lg-10 col-md-9">
    <h5 class="text-navyblue">Senator Bob Dole</h5>
    <h6 class="fontColor1">
      Honorary Chairman, National Advisory Board
      <br>
      Veterans Airlift Command
    </h6>
    <p>Senator Dole brings an honorable and distinguished record 
    of public service to the VAC advisory board. He has served as 
    Senate Majority Leader, Presidential candidate, and his party's 
    nominee for Vice President, as well as Chairman of the powerful 
    Senate Finance Committee, member of the House of Representatives, 
    and Chairman of the Republican Party.</p>
    <p>
      Raised on the plains of western Kansas, Dole joined the Army's Enlisted Reserve Corps in 1942 to fight in World War II, becoming a platoon leader in the legendary Tenth Mountain Division in Italy. By April 1945, he was fighting the Nazis in the hills of Italy, where he sustained grave machine gun fire injuries to his upper right back and right arm while coming to the aid of a platoon radio man. Senator Dole's long, painful recovery spanned three years and nine operations.
    </p>
    <p>
      He was twice decorated for heroic achievement, receiving two Purple Hearts for his injuries, and the Bronze Star Medal for his attempt to assist the downed radio man.
    </p>
    <p>
      Senator Dole continues to take an active leadership role in a wide range of public policy and charitable causes, and has earned national acclaim for his leadership on behalf of the disadvantaged and Americans with disabilities. He writes frequent "Op-Ed" pieces for major newspapers and magazines and has written best-selling books. He is married to the Honorable Elizabeth Hanford Dole, current Senator from North Carolina.
    </p>
  </div>

</div>

<div class="row">
  <div class="col-lg-2 col-md-3">
		<%= image_tag "advisory_board/RichardMyers.jpg", class: "img-fluid mx-auto d-block" %>
	</div>
	<div class="col-lg-10 col-md-9">
    <h5 class="text-navyblue">General Richard B. Myers</h5>
    <h6 class="fontColor1">
      Honorary Chairman, National Advisory Board
      <br>
      Veterans Airlift Command
    </h6>
    
    <p>
      General Richard B. Myers retired as the 15th Chairman of the Joint Chiefs of Staff on 1 October, 2005, where he served as the principal military adviser to the President, the Secretary of Defense and the National Security Council.
    </p>
    <p>
      A native of Kansas City, Kansas, Myers graduated from Kansas State University in 1965, the same year he joined the Air Force. He went on to serve in significant positions throughout the Air Force. His commands included U.S. Forces Japan and 5th Air Force at Yokota Air Base, Japan; Pacific Air Forces at Hickam AFB, Hawaii; and the North American Aerospace Defense Command, U.S. Space Command and Air Force Space Command at Peterson AFB, Colorado.
    </p>
    <p>
        As a fighter pilot, General Myers logged more than 4,100 hours, primarily in the F-4, F-15 and F-16, as well as more than 600 combat hours in the F-4 during the Vietnam conflict.
    </p>
    <p>
      Today General Myers serves on several public and non-profit boards and lectures nationally on leadership and national security issues. He is also Foundation Professor of Military History and Leadership at Kansas State University and holds the Colin Powell Chair of Leadership, Ethics, and Character at National Defense University.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-lg-2 col-md-3">
		<%= image_tag "advisory_board/WilliamEdwards.jpg", class: "img-fluid mx-auto d-block" %>
	</div>
	<div class="col-lg-10 col-md-9">
    <h5 class="text-navyblue">William L. Edwards</h5>
    <h6 class="fontColor1">
      Honorary Chairman, National Advisory Board
      <br>
      Veterans Airlift Command
    </h6>
    
    <p>Bill Edwards is Chairman and Chief Executive Officer of Mortgage Investors Corporation (MIC), having created the leading mortgage lender to veterans in the US (over $30 Billion to date).   MIC was founded in 1938 and is one of only two non-depository GNMA issuers remaining in the US.  Bill remains active in all strategic aspects of the company.</p>
    <p>As a Marine who served proudly in Vietnam, Edwards was seriously wounded and spent two years in a Navy Hospital separated from his family and battle buddies after being awarded the Purple Heart, among other noteworthy commendations.    His passion for wounded veterans  is exhibited in his support of the VAC mission with his aircraft as well as his generous financial contributions.</p>
    <p>Bill has been active in numerous veterans issues, including contributions to the US Central Command Memorial Foundation at MacDill AFB in Tampa, FL and is an undying and effective supporter of enhanced benefits for veterans, having successfully lobbied the US Congress and the US Senate to pass legislation enhancing housing benefits for Veterans.  </p>
    <p>In addition to his role  with the VAC, Edwards serves as a board member on a number of high  impact charitable organizations, including the Association for the Cure of Cancer of the Prostate, Edwards Family Foundation (providing an annual Christmas Event which has touched over 2500 needy families in St. Petersburg), the All Children's Hospital Foundation, the MusiCares Foundation and the Grammy's Foundation,  among others.</p>
    <p>Bill is also a proud member of the National Republican Congressional Committee.</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-2 col-md-3">
		<%= image_tag "advisory_board/WaltFricke.jpg", class: "img-fluid mx-auto d-block" %>
	</div>
	<div class="col-lg-10 col-md-9">
    <h5 class="text-navyblue">Walt Fricke</h5>
    <h6 class="fontColor1">
      Chairman, CEO and Founder
      <br>
      Veterans Airlift Command
    </h6>
    <p>Walt Fricke brings extensive executive and leadership experience to the VAC. As founding president and executive director of the <a href="http://www.995hope.org/" target="_blank">Homeownership Preservation Foundation</a>, Fricke spent years wielding significant funding from GMAC-RFC and the support of the nation's largest mortgage lenders to address the growing national foreclosure problem.</p>
    <p>Prior to heading up the Homeownership Preservation Foundation, Fricke held senior-level executive positions at GMAC-RFC, including chairman and CEO of Residential Money Centers and executive vice president of the Residential Capital Group.</p>
    <p>Fricke is a decorated former Army aviator , having flown hundreds of combat missions as an Army helicopter pilot with the 68th Assault Helicopter Company in Vietnam.&nbsp; He received the Vietnamese Cross of Gallantry with the Silver Star (and palm), two Bronze Stars, 21 air medals &nbsp;and a Purple Heart. &nbsp;His vision for the VAC flows from his experience of having spent six months in the hospital after being medivaced out of Vietnam in 1968.</p>
    <p>He is an instrument-rated commercial airplane and helicopter pilot with multi-engine land and sea ratings.</p>
    <p>Fricke flies as Lead or #3 in the &quot;Salute to the Armed Forces&quot; <a href="http://www.trojanhorsemen.com/" target="http://www.trojanhorsemen.com/">Trojan Horsemen</a> flight demonstration team, which performs in airshows around the U.S. in support of the VAC.</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-2 col-md-3">
		<%= image_tag "advisory_board/PeterBunce.jpg", class: "img-fluid mx-auto d-block" %>
	</div>
	<div class="col-lg-10 col-md-9">
    <h5 class="text-navyblue">Peter "Pete" Bunce</h5>
    <h6 class="fontColor1">
      (Command Pilot, USAF, Retired)
      <br>
      Veterans Airlift Command
    </h6>
    <p>Peter "Pete" Bunce learned to fly as a teenager in the skies over Wisconsin. He entered the Air Force in 1979 as a graduate of the U.S. Air Force Academy and went on to build a distinguished 26-year career flying F-15s and A-10s while commanding several large operational fighter units. In his last two assignments, Bunce worked closely with Congress, providing expertise on matters associated with the annual Defense Appropriations Bills.</p>
    <p>Bunce retired from the Air Force as a command pilot with more than 3,000 hours in fighter and training aircraft. He currently holds an FAA commercial pilot certificate with multi-engine airplane and instrument ratings. He also serves on the Board of Directors of the International Council of Airshows, the Industry Management Council of the Next Generation Air Transportation System and the RTCA Policy Board.</p>
    <p>As president and CEO of the General Aviation Manufacturers Association (GAMA), an international trade association, Bunce helps represent the interests of the world's leading general aviation manufacturers in Washington, D.C., as well as Brussels and Cologne. GAMA also brings together industry leaders to promote understanding of general aviation's role in strengthening economies.</p>
    <p>Bunce holds a master's degree in international affairs (Troy State University, 1988), and was an International Affairs Fellow (Harvard University,1996-97). He and his wife, Patty, reside in Arlington, Virginia, and have six children.</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-2 col-md-3">
		<%= image_tag "advisory_board/TimFyda.jpg", class: "img-fluid mx-auto d-block" %>
	</div>
	<div class="col-lg-10 col-md-9">
    <h5 class="text-navyblue">Timothy "Tim" Fyda</h5>
    <h6 class="fontColor1">
      Veterans Airlift Command
    </h6>
    <p>Timothy "Tim" Fyda entered the U.S. Air Force in 1979 as a graduate of the U.S. Air Force Academy.  After pilot training, he served as an operational F-15 pilot, Instructor Pilot, and Flight Commander.  He is a graduate of the USAF Fighter Weapons School at Nellis AFB and served as Squadron and Wing Weapons Officer at Langley AFB.</p>
    <p>Fyda later joined his Family business, Fyda Freightliner, Inc., a network of truck dealerships in Ohio and Pennsylvania.  He is currently President and CEO.  He is also President of Highway Insurance Agency, Highway Commercial Services, and Falcon Aviation.   He serves on the Board of Directors of the USAF Academy Endowment and the St. Charles Preparatory School Endowment.</p>
    <p>Fyda Freightliner has been recognized as the top Freightliner dealer in the United States as well as the Dealer of the Year of any brand by Business Week Magazine.  Fyda hold a Masters Degree in Business Administration from Ohio State University.  He and his wife, Marianne, reside in Columbus, Ohio and have four children.</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-2 col-md-3">
		<%= image_tag "advisory_board/TomHenricks.jpg", class: "img-fluid mx-auto d-block" %>
	</div>
	<div class="col-lg-10 col-md-9">
    <h5 class="text-navyblue">Terence T. "Tom" Henricks</h5>
    <h6 class="fontColor1">
      (Colonel, USAF, Retired)
      <br>
      Veterans Airlift Command
    </h6>
    <p>As a NASA astronaut from 1985 to 1997, Tom Henricks flew four space shuttle missions, serving as commander and pilot; he also held senior management positions in the Astronaut Office and the Space Shuttle Program.</p>
    <p>Henricks is a retired U.S. Air Force colonel, with tours of duty in England and Iceland; he served as commander, test pilot and fighter pilot while flying the F-16 and F-4 aircraft. He is a graduate of the Air Force's Test Pilot School and Fighter Weapons School (Top Gun). To this date, Henricks has 749 parachute jumps and a Master Parachutist rating, in addition to having flown 30 different types of aircraft and logged more than 6,000 hours of flying time. He holds an FAA commercial pilot rating, and is pilot and part-owner of a 1940 Stearman biplane.</p>
    <p>Henricks currently holds a leadership role with McGraw-Hill's AVIATION WEEK; prior to that he worked with Textron at Bell Helicopter, as well as Boeing and The Timken Company. He has a BS in civil engineering from the U.S. Air Force Academy and an MPA from Golden Gate University. He is also a graduate of the Advanced Executive Program at Northwestern University's Kellogg School of Management and completed Textron's Executive Leadership Program.</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-2 col-md-3">
		<%= image_tag "advisory_board/Smileys.jpg", class: "img-fluid mx-auto d-block" %>
	</div>
	<div class="col-lg-10 col-md-9">
    <h5 class="text-navyblue">Major Scott Smiley</h5>
    <h6 class="fontColor1">
      (USMA 2003, Infantry, Airborne Ranger, Combat Diver)
    </h6>
    <h5 class="text-navyblue">Tiffany Smiley</h5>
    <h6 class="fontColor1">
      Veterans Airlift Command
    </h6>
    <p>Major Scott Smiley and wife, Tiffany Smiley, combine military and medical knowledge as well as insights that are invaluable to the VAC mission.</p>
    <p>Scott Smiley received his commission through the U.S. Military Academy and went on to graduate from Scuba School in 2001 and Ranger School in 2004.</p>
    <p>In the fall of 2004, then Lt. Smiley deployed to Mosul, Iraq. He served a platoon leader in a Stryker Infantry Brigade where his platoon experienced heavy combat. His unit also suffered casualties in the Mosul Mess Hall bombing in December 2004.</p>
    <p>In April 2005, Smiley's platoon deployed to intercept a suspected car bomb. Smiley engaged the terrorist and the bomb exploded, with shrapnel striking him in the face and skull, permanently blinding him.</p>
    <p>Having gone back to Duke University and completing his MBA, and subsequently spending a year at West Point as an instructor, Major Smiley served on active duty as a Company Commander of the WTU at West Point.</p>
    <p>Smiley moved from West Point to attend the Maneuver Career Course and now, having been promoted to Major, instructs cadets at Gonzaga University ROTC. Many other abilities make him a valued member of the team, as well as a sought-after public speaker. Smiley spends his spare time running, biking, skiing, sky diving, surfing and most importantly attending to the growing demands of his young family.</p>
    <p>Tiffany Smiley, RN, was raised in Pasco, Washington. Her lifelong passion for helping and healing others led her to receive a BS in nursing at Washington State University.</p>
    <p>High school sweethearts Tiffany and Scott Smiley were married on December 20, 2003. They currently reside in Spokane, Washington.</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-2 col-md-3">
		<%= image_tag "advisory_board/Roses.jpg", class: "img-fluid mx-auto d-block" %>
	</div>
	<div class="col-lg-10 col-md-9">
    <h5 class="text-navyblue">Bruce &amp; Rosemary Rose</h5>
    <h6 class="fontColor1">
      Founders of the Carrington Charitable Foundation
      <br>
      Veterans Airlift Command
    </h6>
    <p>Bruce & Rosemary Rose have been the visionaries behind the Carrington enterprise, establishing a non-profit charitable foundation and a family of companies that values the communities in which its employees live and work.</p>
    <p>As the parents of two graduate engineers, the Roses take great pride in serving non-profit causes across the United States. Carrington Charitable Foundation's platform embodies the Rose family's spirit of invitation and opportunity without obligation, by encouraging but not requiring Carrington leaders and employees to give back to their communities. Since its inception, the Foundation has grown under their direction into a multi-million dollar fundraising organization that has supported over 60 non-profit causes, with particular focus on assisting injured Veterans and their families.</p>
    <p>Applying her expertise as a Fundraiser for the United World Colleges at Armand Hammer - Occidental Petroleum, Mrs. Rose serves as the Carrington Charitable Foundation's Chairman of the Board. Mrs. Rose has been deeply involved in serving the community through innovative philanthropic programs for more than three decades, gaining experience that has led her to become the guiding force behind the Carrington Charitable Foundation since its establishment in 2009.</p>
    <p>As the Founder and Chief Executive Officer of The Carrington Companies, Mr. Rose has been the innovator behind the company's growth from a fund investing in mortgage backed securities, to a vertically integrated financial services company with sixteen operating units involved in virtually every aspect of residential real estate sales and financing. Mr. Rose's 30-year career on Wall Street began in 1980, working for firms such as Bache, Halsey, Stuart and Shields, and Salomon Brothers. In 2003, Mr. Rose founded predecessors to The Carrington Companies, beginning with Carrington Capital Management, which created and managed limited partnerships investing in mortgage credit. In 2007, Carrington further expanded and successfully converted from an investment company into a series of operating companies that work together to span all phases of single-family housing, mortgages and investments.</p>
    <p>The Roses routinely donate their Carrington fleet of private aircrafts, absorbing fuel and transportation costs, to provide crucial travel service free of charge on countless charitable missions. Utilizing their expertise in the aviation field, Mr. Rose., an Airline Transport Rated Pilot with 40 years of experience, and Mrs. Rose, a trained and certified Cabin Attendant, have personally flown missions for the Corporate Angel Network, an organization that transports cancer patients to and from treatment centers, the Veterans Airlift Command, a network of	private pilots providing free air transportation to post 9/11 combat wounded Veterans and their families, as well as trips donated and auctioned off by Carrington for charitable purposes.</p>
    <p>Since 2011, Mr. and Mrs. Rose have hosted the Annual Carrington Charitable Foundation Golf Classic in Newport Beach, California, benefitting our nation's severely wounded heroes, which has raised in excess of $1 million dollars each year. The Annual Golf Classic brings together injured Veterans and their caregivers, as well as supporters from across the country, united in the mission to raise funds and awareness for our defenders and honor their sacrifices.</p>
    <p>Mr. Rose & Mrs. Rose joined the Advisory Board of the Veterans Airlift Command in November 2013.</p>
  </div>
</div>



<!-- template
<div class="row">
  <div class="col-lg-2 col-md-3">
		< image_tag "advisory_board/BobDole.jpg", class: "img-fluid mx-auto d-block" %>
	</div>
	<div class="col-lg-10 col-md-9">
    <h5 class="text-navyblue">Senator Bob Dole</h5>
    <h6 class="fontColor1">
      Honorary Chairman, National Advisory Board
      <br>
      Veterans Airlift Command
    </h6>
    <p></p>
  </div>

</div>

-->