
<div class="row" style="padding-top:5%;">
  <div id="introStatement" class="col-lg-6 col-md-12">
    <div class="text-center">
      <div class="bowlby">
        <h1 class="fontColor1">COMBAT WOUNDED</h1>
        <h1>THEY'VE GOT 
        <span style="white-space: nowrap">HE
        <%= image_tag "purheart.png", {:id => "heart", :width => '40px'} %>
        RT</span>
        </h1>
        <h1>THEY NEED WINGS</h1>
      </div>
      <hr>
      <h5>
        Imagine returning home from combat facing devastating injuries,
        and long-term hospitalization in a facility hundreds of miles away from
        your family.
      </h5>
      <h5>
        <i>Imagine somebody brings you together.</i>
      </h5>
      
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div id="introvid" class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8z0nSJyKXL8">
      </iframe>
    </div>
  </div>
  </div>
<div class="row">
  <div class="col-lg-12">
    <div id="introDesc">
      <h4 class="sourceSans unbold text-gray">
        The Veterans Airlift Command provides <i class="fontColor1">free</i>
        air transportation to post-9/11 combat wounded and 
        their families for medical and other compassionate 
        purposes through a national network of volunteer 
        aircraft owners and pilots.
      </h4>
    </div>
  </div>
</div>
<div class="row" style="padding:0% 5%;">
  <% (0..5).each do |i| %>
    <div class="col-lg-2 col-md-4">
      <div class="shortcut" style="min-height:200px;">
        <a href="<%= @iconpaths[i]%>">
          <div>
              <%= image_tag ("icons/" + @icons[i] + ".png"), :class => "img-fluid mx-auto d-block" %>
          </div>
          <div class="text-center fontColor1 bowlby" style="padding-top:5%;">
            <%= @icondesc[i] %>
          </div>
        </a>
      </div>
    </div>
  <% end %>
  
</div>
<div class="row justify-content-around align-items-center" style="padding-bottom:5%">
  <div class="col-lg-3 col-sm-6 col-xs-12">
  <%= link_to (image_tag "cfc.gif" , {:class => 'img-fluid mx-auto d-block'}), "http://www.opm.gov/combined-federal-campaign/", :target => '_blank' %>
  </div>
  <div class="col-lg-3 col-sm-6 col-xs-12">
  <%= link_to (image_tag "button-facebook.png", {:class => 'img-fluid mx-auto d-block'} ), "https://www.facebook.com/pages/Veterans-Airlift-Command/22641923598?fref=ts", :target => '_blank' %>
  </div>
</div>