<div class="container-fluid">
  <div class="row">
    <h1>This is the homepage (andy and roger branch)</h1>
  </div>
  <ul>
    <li>
      <%= link_to 'Travel Request', passengers_travel_path %>
    </li>
    <li>
      <%= link_to 'Open Missions', pilots_available_missions_path %>
    </li>
    <li>
      <%= link_to 'Corporate Sponsors', corporate_recognition_path %>
    </li>
    <li>
      <%= link_to 'Donate', donate_path %>
    </li>
    <li>
      <%= link_to 'Register your Aircraft', aircraft_registration_path %>
    </li>
    <li>
      <%= link_to 'Advisory Board', advisory_board_path %>
    </li>
  </ul>
</div>
