
<div class="row" style="padding:10%;">
  <div class="col-md-3 col-sm-0"></div>
  <div class="col-md-6">
    <% provide(:title, "Log in") %>
    <h1 class="fontColor1 bowlby">LOG IN</h1>
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label "E-mail" %>
      <%= f.email_field :email, class: 'form-control', required: true %>
      <%= f.label "Password" %>
      <%= f.password_field :password, class: 'form-control', required: true %>
      <%= f.check_box :rememberme %> <%= f.label "Remember Me", style: "margin-top:10px" %>
      <br>
      <%= f.submit "Log in", class: "btn btn-primary", style: "margin-top:10px" %>
    <% end %>
    <br>
    <p>Forgot your password? <%= link_to "Click here!", "" %> </p>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
  <div class="col-md-3 col-sm-0"></div>
</div>
