<div class="container-fluid">
  <div class="row">
    <h1>This is the Pilots page</h1>
  </div>
  <ul>
    <li>
      <%= link_to 'Pilot Application', pilots_register_path %>
    </li>
    <li>
      <%= link_to 'Aircraft Application', aircraft_registration_path %>
    </li>
    <li>
      <%= link_to 'Pilot FAQs', pilots_faq_path %>
    </li>
    <li>
      <%= link_to 'Available Missions', missions_path %>
    </li>
    <li>
      <%= link_to 'A/C Pilot Recognition', pilots_recognition_path %>
    </li>
    <li>
      <%= link_to 'Mission Control', pilots_mission_control_path %>
    </li>
  </ul>
  
</div>
