<!DOCTYPE html>
<html>
  <head>
    <title>Veterans Airlift Command</title>
    <%= csrf_meta_tags %>

    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- https://www.codeply.com/go/1ZFF5CEXM5 -->
    <div class="container-fluid">
      <div class="row bg-dark">
        <div class="col-lg-3 col-sm-0"></div>
        <div class="col-lg-6 col-sm-0" style="text-align:center;">
          <%= image_tag "vaccrest.png", {:class => 'img-fluid', :width => '400px'} %>
        </div>
        <div class="col-lg-3 col-sm-0"></div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
      <%= link_to 'Veterans Airlift Command', root_path, :class => 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarCustom">
          <ul class="navbar-nav">
            <li class="nav-item">
              <!-- add .active for lighter text -->
              <%= link_to 'Home', root_path, :class => 'nav-link' %>
            </li>
            <li class="nav-item redfont">
              <%= link_to 'Passengers', passengers_path, :class => 'nav-link redfont' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Pilots', pilots_path, :class => 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Donate', donate_path, :class => 'nav-link' %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link redfont" href="#">Contact</a>
            </li>
          </ul>
          <ul class="ml-auto navbar-nav">
          	<li class="nav-item">
              <%= link_to 'Log in / Sign up', login_path, :class => 'nav-link' %>
            </li>
          </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
